exclude: ^vendor/
repos:
- repo: git://github.com/dnephin/pre-commit-golang
  rev: master
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-imports
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: git://github.com/golangci/golangci-lint
  rev: master
  hooks:
    - id: golangci-lint