apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: operator
  labels:
    control-plane: controller-manager
  annotations:
    ignore-check.kube-linter.io/minimum-three-replicas: This deployment uses
      1 pod as currently it supports only a single controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        image: controller:latest
        name: manager
        env:
        - name: IN_CLUSTER
          value: "true"
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 20Mi
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - mountPath: /tmp/costmanagement-metrics-operator-reports
          name: costmanagement-metrics-operator-reports
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: costmanagement-metrics-operator-reports
